body {
  font-size: 1em;
  line-height: 1.5em;
  color: #fff;
  font-weight: normal;
  font-size: normal;
}

body, header, footer {
  text-align: center;
  background: #454857;
  color: #fff;
}

.bg {
  background-size: cover;
  padding: 10em 0;
}
.bg.one {
  background-image: url("../images/bg1.jpg");
}
.bg.two {
  background-image: url("../images/bg2.jpg");
}
.bg.three {
  background-image: url("../images/bg3.jpg");
}
.bg.four {
  background-image: url("../images/bg4.jpg");
}

.menu {
  list-style: none;
}

.menu > li {
  display: inline;
}

.home ul, .live ul {
  padding-left: 0;
}

.home li, .live li {
  padding: 3em;
  background: #fff;
  color: #222222;
  list-style: none;
  border-radius: 3em;
}
