section(ng-controller='homePage', class="home")
  ul
    li(ng-repeat='tweet in data.statuses', ng-show='showTweet($index)')
      p {{tweet.user.description}}
      a(target="_blank", href="https://twitter.com/{{tweet.user.screen_name}}")
        img(ng-src='{{tweet.user.profile_image_url}}')
      h4 {{tweet.user.name}}
        span
          a(target="_blank", href="https://twitter.com/{{tweet.user.screen_name}}") @{{tweet.user.screen_name}}
  div
    a(class="button add-space-right", ng-click="previousTweet()") &#10094; previous
    a(class="button", ng-click="nextTweet()") next &#10095;
