section(ng-controller='loginPage')
    form( method="post")#login-form
      h1 Hello!
      p Please Login To Your Account
      label Username
      input(type="text", name="user", id='user', placeholder='Username')
      label Password
      input(type="password", name="pass", id='pass', placeholder='Password')
      button(type="submit")
        i.icon-lock.icon-white
        | Sign in
      label#remember-me.checkbox Remember Me
        input(type="checkbox", checked='checked')
      hr
      div.btm-links
        a(href='#')#forgot-password Forgot Your Password?
        a(href='/signup')#create-account Create An Account

