section(ng-controller='allTweets')
  ul(ng-repeat='tweet in data.statuses')
    li
      a(href="/{{tweet.user.screen_name}}")
        img(ng-src='{{tweet.user.profile_image_url}}')
      h3 {{tweet.user.name}}
      p {{tweet.user.description}}

